* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

*.png binary
*.jpg binary
*.gif binary
*.jpeg binary
*.tiff binary
*.webp binary
*.pdf binary
*.mp3 binary
*.mp4 binary