@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@layer base {
	@font-face {
		font-family: "Satoshi";
		font-weight: 900;
		font-style: black;
		src: url("https://firebasestorage.googleapis.com/v0/b/tailwindfolio.appspot.com/o/fonts%2FSatoshi-Black.otf?alt=media&token=4c4d2d80-8421-4060-a9ca-a31cce5a1626") format("otf");
	}
}

@layer components {
    .button-primary {
      @apply flex flex-row items-center inline-block rounded-xl bg-black px-8 py-4 text-center font-semibold text-white [box-shadow:rgb(173,_215,_242)_6px_6px] hover:bg-white hover:text-black hover:[box-shadow:rgb(32,_51,_101)_6px_6px] hover:border-primary hover:border hover:border-solid hover:py-[15px] hover:px-[31px] hover:transition ease-in;
    }
    .button-secondary {
        @apply flex flex-row items-center rounded-xl border border-solid border-primary px-6 py-3 text-center font-semibold text-primary [box-shadow:rgb(32,_51,_101)_6px_6px] hover:bg-gray-50 hover:transition ease-in duration-300;
      }
  }
